* {
	box-sizing: border-box;
	font-family: Fjalla One;
}

body {
	margin: 0;
	font-size: 1rem;
	overflow-x: hidden;
}

nav {
	width: 100%;
	height: 130px;
	background-color: black;
	position: fixed;
	display: flex;
	justify-content: center;
}

#starter-logo {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	cursor: pointer;
	transform: scale(.3);
}

#frame {
	height: 380px;
	z-index: 1;
	position: absolute;
	animation: spin 1.7s ease-out;
	animation-fill-mode: forwards;
}
.navbar-toggler {
	display: flex;
	align-items: center;
}

.navbar-collapse {
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
	position: absolute;
	top: 130px;
}

/* trials */
.menu-block:hover > * {
	opacity: 0.2;
}
.menu-block:hover > *:hover {
	opacity: 1;
}
.menu-links {
	position: relative;
	/* width: 100%; */
	font-size: 2.2rem;
	/* padding: 0px 30px; */
	transition: ease-out .4s;
	overflow: hidden;
}

.menu-links:hover {
	/* animation: grow 1s ease; */
	box-shadow: 0 5px 45px rgba(246, 246, 247, 0.5);
	cursor: pointer;
}
.menu-links::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, transparent, rgb(206, 192, 192), transparent);
	transition: 0.7s;
	animation-fill-mode: forwards;
}
.menu-links:hover::before {
	left: 100%;
}

ul {
	list-style: none;
	padding: 0;
}
